/* :root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --bg-color: #FFFFFF;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --link-hover-color: #2196F3;
    --logo-color: #000000;
    --svg-color: #AFB1B8;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
} */

/* body {
    color: var(--primary-text-color);
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

img,
svg {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
} */


/* Меню навігації */

/* .header {
     display: flex;
    border-bottom: 1px solid #ECECEC;
} */


/* .header-nav__logo-first {
    padding: 24px 0 25px;

    color: var(--link-hover-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
} */

/* .header-nav__logo-second {
    color: var(--logo-color);
} */



/* .site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
 */



/* .site-nav__item:not(:last-child) {
    margin-right: 50px;
} */

/* .site-nav__link:hover,
.ssite-nav__link:focus {
    color: var(--link-hover-color);
} */

/* .site-nav__link.current {
    display: block;
    position: relative;

    color: var(--link-hover-color);
} */

/* .site-nav__link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: calc(16/14);

    transition: color var(--time) var(--timing-function);
} */

/* .site-nav__link.current::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;

    width: 100%;
    height: 4px;
    background-color: var(--link-hover-color);
} */


/* .contact  */


/* .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
} */


/* .contact__link {
    color: var(--title-text-color);
} */

/* .contact__item:first-child {
    margin-right: 30px;
}

.contact__item {
    fill: currentColor;
}

.contact__item:hover,
.contact__item:focus {
    fill: var(--link-hover-color);
} */

/* .contact__link:hover,
.contact__link:focus {
    color: var(--link-hover-color);
} */


/* .contac__icon {
    margin-right: 10px;
    transition: fill var(--time) var(--timing-function);
} */



/* Рішення для бізнесу */


/* .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-position: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    text-align: center;
    background-color: var(--bg-footer-color);
} */

/* .hero__title {
    width: 696px;
    margin: 0 auto 30px;


    color: var(--bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
} */


/* .button {
    cursor: pointer;
    border: none;
    padding: 10px 32px;
    min-width: 216px;
    margin: 0;

    color: var(--bg-color);
    background-color: var(--link-hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
     transition: color, background-color, box-shadow var(--time) var(--timing-function);
} */

/* .button:hover,
.button:focus {
    color: var(--bg-color);
    background-color: #188CE8;
} */


/* Наші переваги */

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */


/* .advantages {
    padding-bottom: 0;
} */

/* .advantage {
    display: flex;
} */

/* .advantage__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: var(--bg-team-color);
} */


/* .advantage__title {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 270px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
} */

/* .advantage__text {
    color: var(--title-text-color);
    line-height: 1.71;
    margin: 0;
} */


/* Чим ми займаємося */

/* .features__items {
    display: flex;
    justify-content: space-between;
} */

/* .features__image {
    width: 370px;
    position: relative;
} */

/* .features__title {
    text-transform: uppercase;
    font-weight: 700;
    padding: 27px 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;

    line-height: calc(16/14);
    text-align: center;
    color: var(--bg-color);
    background-color: rgba(47, 48, 58, 0.8);
    ;
} */

/* Наша команда */


.team {
    background-color: var(--bg-team-color);
    text-align: center;

    margin-right: auto;
    margin-left: auto;
}
/* 
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
} */

/* .card {
    display: flex;
} */

/* .card__name {
    margin: 0;
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
} */

/* .card__text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);
} */

/* .card__team {
    width: 270px;

    background-color: var(--bg-color);
} */


/* .card__desc {
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} */

/* .social {
    display: flex;
    justify-content: center;
} */


/* .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50px;

    transition: background-color var(--time) var(--timing-function);
    fill: var(--svg-color);
} */

/* .social__icon {
    transition: fill var(--time) var(--timing-function);
}



.social-link:hover,
.social-link:focus {
    fill: var(--bg-color);
    background-color: var(--link-hover-color);
} */



/* Постійні клієнти */


/* .company {
    display: flex;
    justify-content: center;
} */


/* .company__link {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--svg-color);
    border: 1px solid var(--svg-color);
    width: 170px;
    height: 92px;
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--time) var(--timing-function);
} */


/* .customer-link:hover,
.customer-link:focus {
    fill: var(--link-hover-color);
    border-color: var(--link-hover-color);

} */


/* footer */
/* .footer {
    background-color: var(--bg-footer-color);
    padding: 60px 0;
} */

/* .footer {
    display: flex;
}   */

/* .footer__address {
    display: block;

    margin-bottom: 20px;
    color: var(--link-hover-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
} */

/* .logo-footer-second {
    color: var(--bg-color);

} */

/* .address__list .link {
    transition: color var(--time) var(--timing-function);
    color: var(--contact-footer-color);
    font-style: normal;
    line-height: 1.71;
} */

/* 
.address-link {

    color: var(--bg-color);
    font-style: normal;
    line-height: 1.71;
} */

/* .address__list .link:hover,
.address__list .link:focus {
    color: var(--link-hover-color);
} */

/* .footer-logo {
    margin-right: 70px;
}

.address__list:not(:last-child) {
    margin-bottom: 9px;
}
 */

/* 
.bg-link {
    border-radius: 50px;

    background: rgba(255, 255, 255, 0.1);
}

.bg-link .social-link {
    fill: var(--bg-color);
} */

/* .links-title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--bg-color);
} */

/* .footer-address {
    padding: 12px 0 0;
} */

/* .footer-address .social {
    padding: 0;
    fill: var(--bg-color);

} */

/* .sign-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 93px;
    padding-top: 12px;  
} */

/* .sign-up p {
text-align: left ;
margin: 0;
    font-weight: 700;
line-height: calc(16/14);
text-transform: uppercase;
color: var(--bg-color);
margin-bottom: 20px;
} */

/* .sign-up input:hover,
.sign-up input:focus {
    border-color: var(--link-hover-color);
}

.sign-up input {
 
width: 358px;
height: 50px;
 cursor: pointer;
   padding-left: 16px;
 outline: none;
 color: var(--bg-color);
 transition: border-color var(--time) var(--timing-function);
background-color: var(--bg-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
} */


/* .sign-up input::placeholder {
    font-size: 16px;
line-height: calc(20/16);


color: rgba(255, 255, 255, 0.6);
} */

/* .sign-up-submit {
    padding-top: 48px;
}

.sign-up-submit button {
    margin: 0 0 0 12px;

}
.sign-up-submit .submit {
   display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.icon-send {
 margin-left: 10px;
     fill: var(--bg-color);
} */

/* Filter */



.project-items {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.project-item:not(:last-child) {
    margin-right: 8px;
}

.project-button {
    padding: 6px 25px;

    border: none;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--bg-team-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    font-family: inherit;
    text-align: center;
    transition: color, background-color, box-shadow var(--time) var(--timing-function);
}

.project-button:hover,
.project-button:focus,
.project-button.urrent {
    color: var(--bg-color);
    background-color: var(--link-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Flter-card */


.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-card:hover .product-overlay {
    transform: translateY(0);

}

.project-card {
    /* width: calc((100% - 60px) / 3); */
    width: 370px;

}


.overlay {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28/18);
    color: var(--bg-team-color);
    margin: 0;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--time) var(--timing-function);

}

.project-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project-card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.project-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
}

.aside {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
    font-size: 18px;
    line-height: calc(36/18);

    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.project-name {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

}

.project-text {
    margin: 0;

    color: var(--title-text-color);
    font-size: 16px;
    line-height: calc(30/16);

}



/* Модеольне вікно */



/* .backdrop {

    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity var(--time) var(--timing-function);

    background-color: rgba(0, 0, 0, 0.2);

} */

/* .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    padding: 0;
} */

/* .backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0);
} */

/* .modal {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

     transition: transform var(--time) var(--timing-function);
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color);
}
 */


/* .close:hover {
    fill: var(--link-hover-color);
    transition: var(--time) var(--timing-function);
}

.close-button:focus-within {
     fill: var(--link-hover-color);
   
} */

/* .modal p {
    text-align: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
} */


.form__textarea {
    outline: none;
     cursor: pointer;
    resize: none;
    padding: 12px 18px;
    width: 448px;
    height: 120px;

    transition: border-color var(--time) var(--timing-function);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--bg-color);
}


/* .form-field {
    display: flex;
        position: relative;
    flex-direction: column;

} */

.sign-up input:hover,
.sign-up input:focus,
.form-field input:hover,
.form-field input:focus,
textarea:hover, 
textarea:focus {
    border: 1px solid var(--link-hover-color);
}

/* .form__icon {
     cursor: pointer;
     position: absolute;

     transition: fill var(--time) var(--timing-function);
    left: 12px;
    bottom: 11px;
} */


/* .form__icon:hover,
.form__field:hover ~ .form__icon,
.form:focus-within .form__icon
 {
   fill: var(--link-hover-color);
} */

/* .form__field {
    outline: none;
    cursor: pointer;
    width: 448px;
    height: 40px;
padding-left: 42px;

transition: border-color var(--time) var(--timing-function);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--bg-color);
} */

/* .form-field:nth-child(6) {
    height: 120px;
    margin-bottom: 20px;
}

.form-field:nth-child(-n + 5) {
    margin-bottom: 12px;

} */



/* .form__field::placeholder {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
} */

/* .form__field {
    cursor: pointer;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: var(--title-text-color);
}

.form__field:not(:last-child) {
    margin-bottom: 4px;

}
 */




/* .checkbox { */
    /* appearance: none; */
/* opacity: 0;
z-index: -1;
position: absolute;

}

.checkbox__icon {
    opacity: 0;
}

.checkbox__desc {
    position: relative;
    display: flex;
    justify-content: center;
     width: 16px;
  height: 15px;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
    border: 2px solid var(--primary-text-color);
   
    
}

.checkbox__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}


.checkbox__text {
    color: var(--title-text-color);
    cursor: pointer;
margin: 0;
font-weight: 400;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    font-size: 14px;
}



.checkbox__link {
    color: var(--link-hover-color);
}




.checkbox__desc:hover
{
      transition: border-color var(--time) var(--timing-function);
      border: 2px solid var(--link-hover-color);
}


.checkbox:checked + .checkbox__holder .checkbox__desc .checkbox__icon {
opacity: 1;

}


.checkbox:checked + .checkbox__holder .checkbox__desc {
 transition: background-color var(--time) var(--timing-function);
background-color: var(--link-hover-color);
border: var(--link-hover-color) ;
} */

.submit {
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    padding: 0;


     color: var(--bg-color);
     transition: color, background-color var(--time) var(--timing-function);
    background-color: var(--link-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.submit:hover,
.submit:focus {
    background-color: #188CE8;
}









